* {
    font-family: 'Poppins', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

dialog {
    width: 500px;
    height: 660px;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 12px;
    background-color: #500000;
    border: 4px solid white;
}

input, text {
    border-radius: 12px;
    width: 420px;
    height: 44px;
    margin: 12px auto;
    padding: 0 10px;
    border: none;
}

.modal-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 30px;
    color: white;
    margin-bottom: 10px;
}

.center {
    display: block;
    margin: 0 auto;
}

.margin-top {
    margin-top: 10px;
}

.close-modal-btn {
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 16px;
}

.close-modal-btn:hover {
    cursor: pointer;
    background-color: #B31900;
    transition: 0.1s;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}