body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 248px;
    height: 100vh;
    background-color: #500000;
}

.welcome {
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    color: white;
}

.welcome-wrapper {
    height: 94px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(30, 30, 30, 0.50);
    letter-spacing: 0.3ch;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

.nav-item {
    width: 100%;
}

.nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 70px;
    color: white;
    padding: 20px;
}

.nav-link:hover {
    background: rgba(30, 30, 30, 0.50);
    color: white;
    transition: 0.2s ease-in-out;
}

.btn-wrapper {
    top: 100%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

button {
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 180px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background: rgba(30, 30, 30, 0.50);
    color: white;
    transition: 0.2s ease-in-out;
}