/*  WRITTEN BY: NAMSON PHAM
    UIN: 530003416                         
*/

.main-container {
    margin: 0;
    padding: 0;
    margin-left: 280px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
}

.add-btn {
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 180px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #0082CB;
    color: white;
    transition: 0.1s;
}

.add-btn:hover {
    background-color: #0066A2;
}

.cancel-btn {
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 180px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #B31900;
    color: white;
    transition: 0.1s;
}

.cancel-btn:hover {
    background-color: #790101;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
}

.table-wrapper {
    background-color: #500000;
    padding: 15px 20px;
    margin-right: 35px;
    border-radius: 12px;
    color: white;
}

.flex {
    display: flex;
}

.flex-start {
    justify-content: flex-start;
}

.flex-col {
    flex-direction: column;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-24 {
    margin-left: 24px;
}

.space-between {
    justify-content: space-between;
}

.text-black {
    color: black;
}

.font-size-l {
    font-size: 20px;
}

.width-50 {
    width: 24%;
}

.width-100 {
    width: 100%;
}

.pd-20 {
    padding: 10px;
}

.pd-10 {
    padding: 10px;
}

.border-radius-12 {
    border-radius: 12px;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    font-size: 12px;
    background-color: white;
    padding: 20px;
    color: #222222;
}

th {
    border-bottom: 1px solid #ddd;
}

.hidden {
    color: white;
}

.table-container {
    overflow-x: auto;
    max-width: 1600px;
}

.table-btn {
    width: 64px;
    height: 32px;
    padding: 6px 12px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s;
}

.edit-btn {
    background-color: #00B226;
    text-align: center
}

.edit-btn:hover {
    background-color: #008A1A;
}

.delete-btn {
    background-color: #B31900;
    width: 70px;
    height: 35px;
    text-align: center
}

.delete-btn:hover {
    background-color: #790101;
}

.view-btn {
    background-color: #0082CB;
}

.view-btn:hover {
    background-color: #0066A2;
}

.alert {
    position: relative;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 35px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-close-btn {
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}